[2014-11-02 19:15] dataground opened #3 "Mac OSX 10.9.5 local development gives SSL certificate problem"
On Mac OSX 10.9.5 a call to the API gives an SSL error

    MessageBird\Exceptions\HttpException: SSL certificate problem: unable to get local issuer certificate

I did not find out why the MessageBird Cert is not trusted. But the error does not seem to occur on other os (linux etc)

One can switch off verification in Development by using this hack in vendor/messagebird/php-rest-api/src/MessageBir

[2015-07-23 15:30] samwierema commented on #3
This issue is commonly caused by a CA certificate nog being present on the system that is making the request. You'll find the certificate that is needed here https://www.digicert.com/CACerts/DigiCertSHA2SecureServerCA.crt.

[2015-07-23 15:30] #3 closed

[2016-03-24 10:19] patillades-eurocios opened #19 "curl timing out one third of the time when sending sms"
When using the messages->create API method, one third of my attempts are ending up throwing exceptions with the message "Resolving timed out after 2514 milliseconds". So I was wondering if the number of seconds on `curl_setopt($curl, CURLOPT_CONNECTTIMEOUT, 2);`  on performHttpRequest@HttpClient could become a config parameter, or maybe I should fork the repo?

[2016-03-29 09:21] samwierema commented on #19
Hi @patillades-eurocios,

Thanks for opening this issue. We're looking at your suggestion of including it as a configuration parameter and will get back to you once we've settled on a solution. In the meantime, we suggest either manually changing the value, or cloning the repository and implementing a fix yourself.

Should you choose the latter please know that pull requests are always welcome!

[2016-04-30 20:08] alissonlinneker opened #20 "[ Messaging Responses ]"
Why the answer only returns 1 if I do ID sending to an array of numbers?

It should not be different IDs in each recipients-> items?

Example:

[code]

[2016-05-02 08:56] samwierema commented on #20
Hi @alissonlinneker,

Yes, each ID in the in the recipient->items array should be different. They represent the individual message IDs that were sent to each user.

Does that answer your question? Please do let us know if you have any further questions.

[2016-06-20 15:05] baaskoen opened #21 "no (correct) recipients found."
I'm trying out the API and I'm getting the following error:

I'm simply setting the receiver to: `array($myNumber)`

What exactly is meant with `during your test period you can only send messages to yourself.`? Is there some option/account setting where I can set a default recipient number?

[2016-06-28 09:17] #20 closed

[2016-06-28 09:17] #19 closed

[2016-06-28 09:20] samwierema commented on #21
Hi @baaskoen, I see you've closed this already, but here's an explanation on the error: when you request free credits after you've created an account, the number with which you've requested the credits will be the only number to which you can send (using the free credits). If you try to send to any other number (even in combination with your number) it will fail and you'll get the error message yo

[2016-06-28 09:28] baaskoen commented on #21
Thank you @samwierema for the explanation. I had figured this out already. Someone else requested the free credits so I had no idea this number existed.

[2016-08-24 07:29] sandermijnos opened #26 "Messagebird API Lookup function does not reset on consecutive requests"
I am using the messagebird API to send messages through Messagebird from a client website.

This works very well with a single lookup ($nummer is the number to check):

try {
$Lookup = $MessageBird->lookup->read($nummer);
} catch (\MessageBird\Exceptions\AuthenticateException $e) {
echo 'Onjuiste toegangscode';
} catch (\Exception $e) {
var_dump($e->getMessage());
}

The response is good, it shows

[2016-08-24 07:36] sotoz commented on #26
Hello,
Would you mind sharing the code of the loop that fetches the hlrs?

[2016-08-24 07:44] sandermijnos commented on #26
The loop code is as follows (note: there is a bit of code in there from an Excel input functionality):

$data = new Spreadsheet_Excel_Reader($_SERVER['DOCUMENT_ROOT'].'/temp/'.$_FILES['xls_file']['name'], FALSE);
$rowcount = $data->rowcount(0);
for($row = 2; $row <= $rowcount; $row++) {
$sms_receiver = trim($data->val($row, 'A'));
try {
$Lookup = $MessageBird->lookup->read($nummer);
} catch (\Mess

[2016-08-24 12:08] samwierema commented on #26
@sandermijnos we've identified the following bug: the same HLR is returned for different number in subsequent requests. We'll be implementing a patch, and will let you know when it's been resolved.

[2016-08-24 15:09] #26 closed

[2016-08-24 15:13] samwierema commented on #26
@sandermijnos this issue should now be fixed in version `1.5.1`.

[2016-09-22 07:30] SpacePossum opened #29 "HTTPClient injection through constructor is wrongfully reused"
When construction the client you can only pass one HTTPClient; @ see
https://github.com/messagebird/php-rest-api/blob/master/src/MessageBird/Client.php#L95
The client is used for both `chat` and `messaging` while the services have diff. end-points.

I would like to suggest to add an additional parameter to the constructor allowing two HTTPClient's to be passed, i.e. something like this;

[code]

S

[2016-09-22 12:03] sotoz commented on #29
Hello SpacePossum,
Thank you for your help and your helpful feedback. We will check this matter and reply to you as soon as possible. You are right about this being a breaking change so we would like to pay extra attention at this.

[2016-09-28 11:52] samwierema commented on #29
@SpacePossum this would indeed be a breaking change, and would require at least a major version upgrade. At this stage we're not yet considering a major version upgrade.

An alternative could be to create two child classes that inherit from `Client`, e.g. `ChatClient`. That would not be a backwards incompatible change, and would allow specific configuration for the REST API and Chat API respective

[2016-09-28 12:29] SpacePossum commented on #29
Hi,

Thanks for the feedback and thoughts. Currently I have no real need for the two separate clients.

I came to this issue when working on https://github.com/messagebird/php-rest-api/pull/28.
There I have a use case for injecting the client such that I can prepare/configure it myself and set a different timeout than the default. So for now I'm good :)

[2016-12-04 22:11] SpacePossum commented on #29
@samwierema please ping me when a new major release is being considered, I'm happy to see if I can help out at that time. Thanks for reply :+1:

[2016-12-04 22:11] #29 closed

[2017-01-08 00:48] dhunink opened #34 "No ID in the response"
Hi,

according to the documentation each request should get a response including an ID attribute.
However, when I'm doing a post request including a scheduled dateTime, the response does not include this ID.
What am I doing wrong here?

To replicate, here's the call I'm making in PHP:

[code]

The server response in JSON is as following:
[code]

This differs from the example response (as shown on

[2017-01-08 08:38] dstotijn commented on #34
Hi @dhunink,

When you create a message using our PHP library, the `Message` object that is returned has a `protected` property called `id`. When you `var_dump()` you won't see it. You can call the `getId()` function on the object to get the ID that was returned by the REST API.

Example:

[code]

Let me know if you have any questions on this. Good luck!

[2017-01-08 16:22] dhunink commented on #34
Hi @dstotijn! That absolutely did the trick; I did not realised that the ID was actually there but as a private property. Thanks for the clarification, I do have things working like a charm now 😀

[2017-01-08 18:00] #34 closed

[2017-03-30 11:12] dnl-blkv opened #38 "Boundary conditions are not covered for timeouts in HttpClient"
How to Reproduce
------------------
1. In HttpClient code, change timeout check on line 58 from:
[code]
to
[code]
2. In HttpClient code, change connection timeout check on line 67 from:
[code]
to
[code]

What Should Happen
---------------------
1. Some unit tests are broken because they detect the logic change which was not reflected by tests.

What Happens
--------------
1. All unit tests are pas

[2017-03-30 11:31] dnl-blkv opened #39 "HttpClient needs refactoring"
How to Reproduce
------------------
1. Take a look at https://github.com/messagebird/php-rest-api/blob/master/src/MessageBird/Common/HttpClient.php

What Should Happen
---------------------
1. The code is de-duplicated, clean and easy to understand; each method does exactly and only what it says and does it well

What Happens
--------------
1. Code is a bit challenging to read and contains duplica

[2017-03-31 08:16] #38 closed

[2017-03-31 08:17] samwierema commented on #38
Hi @dnl-blkv, this has now been merged.

[2017-03-31 08:31] samwierema commented on #39
Hi @dnl-blkv, thanks for opening the issue.

We don't think this change is needed at this time. There's not a lot of duplication in `HttpClient.php` and the code works well as is.

We do think there's a few things we can change (e.g. constants for certain things) and maybe some better checks for existence of variables, but the associated PR is too big of a refactor to be merged at this time.

We'r

[2017-03-31 09:49] dnl-blkv commented on #39
@samwierema I can clearly see why you've closed it; probably would have done that myself. In the end, the class is lacking tests (and it is indeed quite hard to test these kind of things). So, it might've also felt a bit like open heart surgery.

The reason I have refactored it was that when I have seen it for the first time as a person who has never seen this code, it seemed a bit complicated. So

[2017-03-31 10:56] samwierema commented on #39
@dnl-blkv yes, let's see if and how we can apply changes step by step, in a more digestible manner. I'll leave it to you to propose the steps.

[2017-04-10 08:33] value2health opened #43 "Since 2017-03-19 we experience regular MessageBird\Exceptions\HttpException: SSL connection timeout"
MessageBird\Exceptions\HttpException: SSL connection timeout

First occurrence:

Received On
2017-03-19 19:00:30 CET
Notifier Timestamp
2017-03-19 19:00:30 CET

Could be related to updating SSL certificates? Do you regularly update the ca-bundle in the distribution?

Versions:
PHP 5.6.30-0+deb8u1 (cli) (built: Feb  8 2017 08:50:21)
    "messagebird/php-rest-api": "1.6.2", using composer

[2017-04-10 09:20] value2health commented on #43
Updating SSL ca-bundle seems to fix this issue:

https://github.com/messagebird/php-rest-api/pull/44

[2017-04-10 09:52] samwierema commented on #43
Hi @value2health, sorry to hear you're having issues with the certificate. I don't think we've updated it recently, so that could definitely be the issue. We'll have a look at your PR today.

[2017-04-12 07:38] samwierema commented on #43
Hi @value2health, this has now been merged in #44. Thanks!

[2017-04-12 07:38] #43 closed

[2017-06-13 14:15] coderiekelt opened #47 "Updated Certificate"
Hello,

I have just gotten word that the certificate that is used for the REST api is being updated, will this also impact applications utilizing this library?

If so, will this library be updated to support the new certificate?

[2017-06-13 14:26] dstotijn commented on #47
Hi @coderiekelt,

Good question :) The CA bundle shipped with this library (https://github.com/messagebird/php-rest-api/blob/master/src/MessageBird/ca-bundle.crt) contains the CA Root certificates, which will keep working in combination with our new SSL certificate once we start using it. So no updates/changes are required.

[2017-06-13 14:26] #47 closed

[2017-07-11 13:02] willemstuursma opened #48 "No support for HTTP proxies"
We would like to connect to the MessageBird API using an HTTP proxy.

Unfortunately there is no option available to set this.

[2017-07-13 19:18] samwierema commented on #48
Hi @willemstuursma, thanks for opening an issue. I think we could potentially add this as an option and to use something like `CURLOPT_PROXY` to manage it.

We'll review this some more and see if we can change some code soon. Or, should you have the inclination, we'd love to see a pull request.

[2017-09-22 08:26] CoonHouse commented on #48
Hello, I managed to successfully post messages to the Messagebird API from behind a proxy. I modified the "performHttpRequest" in "HttpClient.php" to let cUrl use the "CURLOPT_PROXY" option. The problem is that it seems I do not get the same response I would get when using no proxy. The "processRequest" in "Base.php" throws an error because the response is not valid JSON.

When i dump the response

[2017-10-04 19:35] samwierema commented on #48
@CoonHouse could it be that the proxy is filtering the content when sending back the response? The headers you've sent seem to be good (and it even has `Content-Length`), but the body seems to be missing.

[2017-10-24 09:56] chrisminett commented on #39
What about just using a standard package like Guzzle? I don't think there's any need to re-invent an HTTP Client here.

There doesn't appear to be anything bespoke in the existing client itself, and the custom error code handling in `ResponseError` could be easily done in Middleware.

It would also remove the explicit dependency on cURL from this package, as Guzzle defaults to cURL when available,

[2017-10-30 14:11] dstotijn opened #53 "There are no getters for `protected` properties in some of the Voice API classes"

[2017-10-31 08:31] #53 closed

[2017-11-11 22:07] enekochan opened #55 "Default 2 seconds connection timeout value too low?"
I've been having problems sending SMS messages because of connection timeouts. It doesn't happen every time, it's just "random" (my guess just because of the network connection quality "randomness"). Looks like I've been able to fix this using a custom HttpClient with a higher connect timeout value (10 seconds):

[code]

Although this is fine for me, it would make Chat and Voice endpoints not work

[2017-12-08 01:46] enekochan commented on #55
This may be related to #39 too

[2017-12-21 23:37] lidrissi opened #58 "Link in message problem"
when i add a link in the message, the message is send but never delivered

[2017-12-22 10:03] lidrissi commented on #58
it was a security measure

[2017-12-22 10:03] #58 closed

[2018-01-02 20:29] krlove opened #59 "MessageBirdException improvement"
Hi MessageBird team,

I'm having some inconveniences handling `MessageBirdException`s.
My code looks like this:

    try {
        $this->messageBirdClient->messages->create($message);
    } catch (MessageBirdException $e) {
        $this->writeln($e->getMessage()); // console output
    }

It works fine but in case of catching certain exceptions types `$e->getMessage()` returns null (see https://

[2018-01-12 08:52] Matthijsvdorp commented on #48
@samwierema I can imagine this is not really high on your list but I would like to use it behind a proxy as well. If there was some way to access the CURL handler before doing the requests everyone could just add their own configuration tweaks (i.e. SSL options, proxy, timeouts etc). That will solve more then this issue alone.

[2018-01-12 09:18] CoonHouse commented on #48
@Matthijsvdorp, I have this working behind a proxy by modifying the source. I am not at the code right now, so I can not share my solution right now. And i made it work for my situation and did not test all other possible situations that might occur!!  If you are interested, I will look into it and share you my modifications.

Best Regards,

Wilco

[2018-01-13 03:53] fas3r commented on #48
Please do.

Thanks.

[2018-01-15 08:42] Matthijsvdorp commented on #48
@CoonHouse I got it working as well but by changing a file in my `vendor/` directory and that feels wrong. Would be nice to have a better solution available. I'll think about and try to PR something.

[2018-02-06 12:37] svoss opened #61 "msidn duplicate exception"
I know that this issue might be more related to the API itself but ..

[code]
This code snippet causes an exception like:

The system checks if the msidn already exists, but in this case i am just not changing it...

Why? Keeping track if the phone number did or did not change is not very practical in a lot of use cases. I can work around it by always deleting and then adding the contact again but

[2018-03-28 11:05] chrisminett commented on #39
I've tweaked `HttpClient` to use Guzzle. It's not very nice, as this Messagebird package still supports php53, and therefore is limited to Guzzle3.

Also, this maintains the current contracted API for `HttpClient` to avoid BC breaks, however I still feel this could be better achieved by dropping `HttpClient` altogether and simply using Guzzle. That would of course require an increment in the major

[2018-05-16 11:07] ankita1612 opened #63 "when i run it gives me error :Connection timed out after 2003 milliseconds"
Hi,

I m using rest API to send sms. On localhost sms functionality works well. when i upload it on live server it gives me error :Connection timed out after 2003 milliseconds

[2018-06-04 01:58] freelancerumesh opened #64 "Status Message not Deliver"
status is `status: "sent"` but message not coming on target number.
[code]

[2018-06-04 07:19] bviolier commented on #64
Hey @freelancerumesh, could you contact support@messagebird.com for non-delivery for SMS, they will help you with this :-) This non-delivery doesn't look PHP library related.

[2018-06-04 07:19] #64 closed

[2018-06-12 11:45] imchaitanyadesai opened #65 "Test message with test number not sending to mobile"
It give the response that message is sent. But did not display in sms overview and not able to get on mobile as well.

From the message unique id I try to get that message with this api:

`MessageBird->messages->read();`

then also in response it get no message found.

In GUI it is working perfectly fine. with api it not.

here is the response:

[code]

[2018-06-12 15:00] Edofre commented on #65
Also currently having this issue, the recipient of the message is also the same as in my messagebird profile.

[2018-06-12 15:29] foae commented on #65
@imchaitanyadesai, @Edofre can you please send an email at support@messagebird.com with as much details as you can regarding your issue?

[2018-06-12 15:35] Edofre commented on #65
@foae Done, noticed that from a production account the message is being sent, but dev environment is not working.

[2018-06-15 05:58] imchaitanyadesai commented on #65
@foae Solved. Actually I was using test access key. I talk with support team and they say generate live key and then used. I follow the step and it worked.

If any query ask support team. they will give you instant reply.

[2018-06-15 05:58] #65 closed

[2018-07-04 10:02] epels commented on #63
Hi @ankita1612, thanks for opening an issue! Hopefully you have managed to resolve this issue.

If not, you can attempt setting a higher connection timeout in the `HttpClient`. The default is 2 seconds. Here's a brief example:
[code]

Please let us know whether this did the trick for you - thanks!

[2018-07-04 10:31] epels commented on #59
Hi @krlove, thanks for submitting an issue! I definitely agree it's neater to return proper exception messages instead of null.

I created a pull request to solve this issue, it can be found here: #67. Does this solve your issue?

[2018-07-13 10:35] epels commented on #61
Hi @svoss, thank you for opening an issue!

I've been able to reproduce this bug: the problem is that the API accepts a HTTP `PATCH` request with a body containing only the fields that are actually being updated.
When you invoke `MessageBirdClient->contacts->update` with an existing object, like you are, it will have the MSISDN set - but you're not updating it. This is why the API returns this err

[2018-07-16 11:49] #59 closed

[2018-07-25 07:16] DmitryBachin commented on #21
I have completely the same situation, but I am using the same number which I have written when I applied for the test credits.

[2018-07-25 07:48] epels commented on #21
Hi @DmitryBachin! Sounds like something is going wrong there indeed.
Could you please contact our support team via https://www.messagebird.com/en/contact? They will work with you to resolve the issue. Thanks!

[2018-07-25 08:02] DmitryBachin commented on #21
@epels I am so sorry for this message.
It was just a typo in my own code, so the key "recipients" was not included into the request body.
I am sorry that I have disturbed you.

[2018-07-25 08:08] epels commented on #21
@DmitryBachin No worries, that happens! Good to hear it worked out for you: have fun building something awesome! Just let us know if there's anything we can help out with.

[2018-07-25 11:32] epels commented on #48
Hi @willemstuursma, thanks for opening this issue - version 1.10.0 has just been released and you should now be able to use proxies with the MessageBird client.

HTTP options, and therefore proxies, can be set as follows:

[code]

Please do not hesitate to let me know if you have any questions about this!

[2018-07-25 11:32] #48 closed

[2018-07-25 15:40] epels commented on #61
Hi @svoss, hopefully you've managed to resolve the problem based on the information above. I'm closing this issue for now: feel free to comment or re-open in case you're still running into problems!

[2018-07-25 15:40] #61 closed

[2018-07-25 15:40] epels commented on #63
Hi @ankita1612, hopefully you've managed to resolve the problem based on the information above. I'm closing this issue for now: feel free to comment or re-open in case you're still running into problems!

[2018-07-25 15:40] #63 closed

[2018-07-28 04:46] jerry1970 opened #71 "Map incoming message to Message object"
I'd expect an SDK to have a method for mapping an incoming message (on the callback URL) to a Message object or am I overlooking something completely? The only method `loadFromArray` only maps properties with the same name, so from an incoming JSON as array like this:

[code]
I get this:
[code]
Of course I can write a simple mapper, it's just that I expected it to be already there.
Any idea?

Than

[2018-07-28 04:50] jerry1970 commented on #71
OK, sorry, I overlooked `MessageBird\Objects\Chat\Message` while testing with `MessageBird\Objects\Message`... ;)

[2018-07-28 04:50] #71 closed

[2018-08-09 10:33] epels opened #74 "Fix PHP 5.3 incompatibility"
The `Content`, `Message` and `Webhook` models for the Conversations API use the `JsonSerializable` interface, which was introduced in PHP 5.4 - so this breaks compatibility with 5.3.

[2018-08-10 08:04] #74 closed

[2018-10-26 13:31] joachim-jansen opened #76 "Proxy / HttpClient.php"
Sometimes an specific Proxy adds a certain header. In the current version only a specific header is dismissed; but not mine. This code helps allthough it could be improved.

[code]

[2019-01-21 10:51] rjelierse opened #79 "Discontinue support for old PHP versions"
As you can see from the [list of supported versions](http://php.net/supported-versions.php), most of the versions we're still actively supporting are no longer supported by PHP itself. It might be time to drop support for these versions and update to use language features that are only available on later versions (e.g. type hinting of scalars). Older versions of this package will still be availabl

[2019-02-18 17:10] paul-thebaud opened #84 "1.13.0 was released on Github, but is not available on Packagist"
Hello,

I see on Github that the 1.13.0 was release 12 days ago, but when I try to update my package from my app, the higher version I got is 1.10.x.
When I go to the [packagist page](https://packagist.org/packages/messagebird/php-rest-api), I see that only 1.10.x is available as non-beta release.

Is it normal?

[2019-02-19 08:41] modprobe commented on #84
Hi @paul-thebaud!

Thank you for the heads-up, 1.13.0 is now available on Packagist as well. Enjoy!

[2019-02-19 09:07] paul-thebaud commented on #84
Hi, thank you, it works now! Well done :)

[2019-02-19 09:07] #84 closed

[2019-03-26 15:52] dwilmer-karify opened #85 "Properties are documented and instantiated as array, turn out to be objects of type stdClass"
There are several properties that are documented and initialized as an `array`, but turn out to be objects of type `stdClass` (as indicated by the error `Error : Cannot use object of type stdClass as array` when trying `isset($message->typeDetails['udh'])`).
Where I found this so far:
- `\MessageBird\Model\Message::typeDetails`
- `\MessageBird\Model\Hlr::details`

[2019-03-28 14:31] dwilmer-karify commented on #85
Another instance is the `details` property of the `MessageBird\Objects\Hlr` class.

[2019-03-28 15:20] dwilmer-karify opened #86 "Documentation for endpoint `GET /hlr` is missing"
On https://developers.messagebird.com/api/hlr/, there is a line `GET /hlr` under "Available HTTP Methods". I can't find any documentation for this end point anywhere else on the page. From the documentation for `GET /messages` I can gather that I can filter using a limit, offset, and an msisdn, but what other search fields are available?

[2019-04-04 00:28] katalystsol opened #87 "SignedRequest->createFromGlobals() does not set requestTimestamp to integer"
When I am trying to use the SignedRequest->createFromGlobals(), it pulls the requestTimestamp but returns it as a string instead of as an integer, even though it is actually all numeric digits. So it was failing the validation (!is_int($param['requestTimestamp']) in the loadFromArray() method and throwing an Exception.

That has required me to use the SignedRequest->create() and manually retrieve

[2019-04-24 14:40] chrisminett commented on #79
A v2 of this package could achieve so much enhancement, like these PHP versions, a cleaner HTTP client #39 , and making objects immutable.

[2019-05-05 21:54] placeposition opened #89 "Message->create() not returning id"
I don't get an id in the response, it also does not return the value I set for reportUrl

[code]

response as an array is

[code]

[2019-05-30 05:50] chrisminett commented on #79
It seems that updates to this package are done mainly through contributor PRs - I guess that Messagebird don't use PHP themselves, so there isn't much drive to improve the code quality and get a v2 out.

Perhaps one of the maintainers could create a v2.x branch, so that we might create PRs against that and start getting some improvements in, eg:

* Drop PHP 5.x
* Use Guzzle as the HTTP client rath

[2019-06-05 12:12] webmaster777 opened #94 "Please use semver and release 1.14.1"
Following semantic versioning (https://semver.org/), your "oops" version of 1.14.0.1 does not fit as proper release tag. You should issue a 1.14.1 patch release instead.

Also, if you want to use the version of your package inside your package, there are alternatives to using a hardcoded string

See:
* https://packagist.org/packages/sebastian/version
* https://packagist.org/packages/ocramius/packa

[2019-06-06 09:19] GewoonSibrand opened #95 "conversations/create.php JSON is not a valid format"
The example code from the conversations/create.php file gives the following message: 'MessageBird\Exceptions\RequestException: JSON is not a valid format'.

[2019-06-06 09:33] modprobe commented on #95
Thanks for your report! You're absolutely right, it's using the wrong method.

I will fix this shortly, in the meantime, you can replace
[code]

with

[code]

[2019-06-06 09:53] GewoonSibrand commented on #95
Thank you!

[2019-06-07 09:48] marcelcorso commented on #94
hey @webmaster777. You are right we did something bad there. We'll release 1.14.1 very soon.

I also <3 the idea of not hardcoding the version inside the package. `ocramius/package-versions` looks like a good contender.
Could you do a PR for that? 🙏

[2019-06-07 10:01] marcelcorso commented on #94
https://github.com/messagebird/php-rest-api/releases/tag/1.14.1

[2019-06-07 12:21] webmaster777 commented on #94
see #97. It has some implications so I hope you can clear up what you want as consequence.

[2019-06-07 12:21] #94 closed

[2019-06-07 12:26] webmaster777 commented on #79
You should use HTTPlug rather than confining to Guzzle. Zee http://httplug.io/

[2019-06-07 12:28] webmaster777 commented on #79
Dropping php version support would not necessarily require a v2 (https://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html)

[2019-06-07 14:20] webmaster777 opened #98 "Replace ancient phpunit"
related = #79

[2019-06-11 12:15] #87 closed

[2019-06-12 08:42] #95 closed

[2020-01-08 12:06] kdeberk opened #109 "Replace YOUR_ACCESS_KEY with safer alternative in api literal"
Many (all?) of the examples create a Client instance as follows:
[code]

It is dangerous to put sensitive credentials in the code when it is easy to push to a public location (.e.g. this github repo). Everytime a user wants to run an example. that person is forced to do one of two things:
- replace `YOUR_ACCESS_KEY` with the string literal containing the actual sensitive key, and  remember not to

[2020-01-08 16:47] #109 closed

[2020-01-10 08:49] #79 closed

[2020-01-10 08:49] #98 closed

[2020-02-10 11:14] aristoteletufano opened #115 "MessageBird\Objects\Conversation\Message miss 'from' field"
As title, it only as 'to' field, is there any reason for this?

[2020-02-26 06:12] marqueetest commented on #21
I am trying to send the sms through message bird with following parameters
var params = {
                'originator': '+61xxxxxx',
                'recipients': ['+61xxxxxx'],
                'body': 'Hello, world!'
            };
but it is showing the following error during execution:-
no (correct) recipients found. Note: during your test period you can only send messages to your own number (+)

[2020-05-08 08:44] avdb opened #119 "preview_url"

[2020-05-08 08:56] avdb opened #120 "Whatsapp: preview_url"
Do you allow sending the parameter preview_url for whatsApp messages?
https://developers.facebook.com/docs/whatsapp/api/messages/text#urls

[2020-05-08 08:56] #119 closed

[2020-05-17 09:05] danikoala opened #121 "HSM Components objects are missing"
How can I send a Media Template using the PHP SDK. As the HSM Components and Components/Parameters are missing, I don't know how to do it with the existing classes.

Do you have an example? Do I have to use plain curl?

Thank you very much.

[2020-05-18 14:37] marcelcorso commented on #121
Hey @danikoala. We got an example for you in the repo:

https://github.com/messagebird/php-rest-api/blob/e88aea01a6975abfb08c70baba3ee3a1e4ef2916/examples/conversations/create-hsm.php

is this what you were looking for?

[2020-05-18 16:33] danikoala commented on #121
Hi @marcelcorso!

I'm afraid it's not what I'm looking for. I already saw that example, but it doesn't have the piece of code to send media HSM (template message with files attached).

[2020-05-20 06:57] marcelcorso commented on #121
Hey @danikoala. You are right. Right now the SDK doesn't expose the [HSMContent type](https://developers.messagebird.com/api/conversations/#hsmcontent) and the types it uses.

But because of php's dynamic nature you can implement them yourself by looking at the docs. Implement a class (or even an array) that has all the properties described on the docs, be sure it's `jsonSerialize`able and pass th

[2020-05-20 13:05] danikoala commented on #121
Ok! Marcel, I will try and I'll back to you with some piece of code (I presume). :-)

[2020-06-09 10:20] joelzerner opened #123 "Can't look up contact by msisdn"
Although the MessageBird docs state it is possible to read a contact using the msisdn instead of the contact ID, I've been unable to achieve this using this PHP api. It won't allow me to input a number with a '+' symbol in it and returns an unspecified error.

For API Reference, see: https://developers.messagebird.com/api/contacts/#view-a-contact

Also see this issue on the nodejs wrapper: https:/

[2020-06-09 14:10] modprobe commented on #123
Hi @joelzerner! Thanks for flagging this.

Unfortunately, it turns out that the documentation is actually confusing/mixed up here. It is not possible to fetch a single contact by MSISDN, as the MSISDN doesn't have to be unique for your contacts.

It is however possible to search for contacts by MSISDN. You can use the following code to do so:

[code]

Please make sure to format your MSISDN as digi

[2020-06-09 14:10] #123 closed

[2020-07-20 09:07] pascaldevink opened #125 "Recipients are broken since 1.19.1"
I believe 1.19.1, which featured https://github.com/messagebird/php-rest-api/pull/103 should not be released as a minor change, but rather in a new major version release, as it's not backwards compatible:
1. Since the types changed, all code using recipients as arrays broke.
Previously, this worked fine:
[code]
But that now breaks.
2. The `Recipient` class defines the `$recipient` property as inte

[2020-07-20 09:59] modprobe commented on #125
Hi @pascaldevink! You are right, that was my oversight 🤦  I have reverted the PR and released v1.19.2 with the fix.

@JohnstonCode fyi. I think your code was good, but we both missed the assignment side of this. Please feel free to submit an improved version of your PR with no changes to BC again 🙏

[2020-07-20 09:59] #125 closed

[2020-07-20 10:16] pascaldevink commented on #125
@modprobe Thanks! The change is certainly good, no argument there 🙂

[2020-08-05 13:58] pboschma opened #129 "HSM Start: Invalid JSON"
Hello.

We've tried using the SDK to send a WhatsApp HSL message. To do this we've used the `create-hsm` example from the example folder. However, it will throw an exception `JSON is not a valid format`. Then I got looking and found out that this issue is already known for the conversation API. We're using start and not create (Which was the possible fix in the other issue) #95

When we use create

[2020-08-06 19:37] noamb3 commented on #120
I need this feature as well

[2020-08-26 09:01] ecornelisse opened #130 "`getList()` breaks when no results are present (Invalid argument supplied for foreach())"
The following is happening is `MessageBird\Resources\Base` `getList()`
[code]

Now this will work fine until for example you want to fetch all webhooks while no webhooks have been created yet. The api will return `{"offset":0,"limit":10,"count":0,"totalCount":0,"items":null}`  and after  the `json_decode` `$Items ` will contain `null` and the foreach happening on line 103 will break with an
[code]

[2020-09-15 21:16] stgoos commented on #129
I also got the "**Got an invalid JSON response from the server**" error. I'm trying to replace an old solution we have in place in the company, which is still running on the old legacy API (on PHP 5.6.40), with a new version of the solution based on the REST API but so far I'm hitting this blocker...

The new version I'm trying to set up is running on a Windows 2012 R2 x64 server with IIS 8.5 with

[2020-09-21 20:53] Mark-H commented on #55
This just hit me too, even though it seems the default timeout has changed since this issue was created.

It would be nice if there was an easier way to configure timeouts, perhaps as an extra option added into the $config array of the Client constructor, both for the connection and regular timeout.

[2021-04-04 12:21] CoolGoose commented on #76
Closing this right now since the handling is a bit different currently. If you have any actual response example we can match against please reopen the issue.

[2021-04-04 12:21] #76 closed

[2021-04-04 12:23] CoolGoose commented on #39
@chrisminett thank you for the update. We are going to consider using guzzle for the 2.0 release, especially since we dropped support for older php versions.

[2021-04-04 17:39] CoolGoose commented on #86
@dwilmer-karify I apologise for the late reply.  The documentation over https://developers.messagebird.com/api/hlr/ should contain all the necessary samples now.

[2021-04-04 17:39] #86 closed

[2021-04-06 07:16] CoolGoose commented on #120
Hi @avdb / @noamb3  we currently don’t support setting the preview_url in the API requests. However preview_url is by default, enabled for all WA messages sent through the Conversations API

[2021-04-06 07:16] #120 closed

[2021-04-13 15:11] CoolGoose commented on #121
@danikoala we are considering this going forward. Let us know if you need any more help

[2021-04-13 15:11] #121 closed

[2021-06-30 07:57] ruudk opened #175 "`Client::CLIENT_VERSION` says `2.0.0-prerelease` on `v2.0.0` tag"
https://github.com/messagebird/php-rest-api/blob/398eb8910095a0f11ed319aefa2fa128d4a4e197/src/MessageBird/Client.php#L22

[2021-06-30 08:04] CoolGoose commented on #175
Thank you @ruudk . We've pushed 2.0.1 with 2.0.1 CLIENT_VERSIOn

[2021-06-30 08:04] #175 closed

[2021-07-22 22:32] stgoos opened #177 "Message 'id' and 'href' missing in $MessageBird->messages->getList() response"
When I retieve the list of messages I don't see the **`id`** and the **`href`** information in the response like it's shown in the documentation (https://developers.messagebird.com/api/sms-messaging/#list-messages):

[code]

The response I receive starts with the **`direction`** information.

Is something broken? Or am I doing something wrong?

I'm using:
[code]
to get hold of the list with messag

[2021-09-02 14:17] joachim-jansen commented on #76
Please find sample response content:

Debug shows normal \r\n which are newlines

HTTP/1.1 200 Connection established\r\n
\r\n
HTTP/1.1 200 OK\r\n
Server: nginx\r\n
Date: Thu, 02 Sep 2021 14:12:24 GMT\r\n
Content-Type: application/json; charset=UTF-8\r\n
Content-Length: 55\r\n
Vary: Accept-Encoding\r\n
X-CLOUD-TRACE-CONTEXT: REMOVED;o=0\r\n
Access-Control-Allow-Headers: Authorization, Content-Type

[2021-11-10 00:51] mh1k3code commented on #21
i am also getting the same error but i have used the same number as that for my trial run its not working
***** Fatal error: Uncaught MessageBird\Exceptions\RequestException: no (correct) recipients found ****

[2021-11-10 08:58] CoolGoose commented on #21
@mh1k3code can you paste your code sample please ? Thank you.

[2021-12-21 05:27] siyaadguul opened #183 "MessageBird\Exceptions\RequestException: Conversation not found"

[2021-12-21 05:29] siyaadguul opened #184 "Fatal error: Uncaught Error: Class "MessageBirdObjectsConversationContent" not found in F:\xampp\htdocs\habraacdb\api\index.php:7 Stack trace: #0 {main} thrown in F:\xampp\htdocs\habraacdb\api\index.php on line 7"
when i tried to send Whatsapp message from my php

[2021-12-22 08:13] CoolGoose commented on #184
Hi @siyaadguul .

Can you please provide some details and maybe a short code sample on how you're trying to do the call ?
From the error stack above it looks more like an issue loading the class rather than an implementation issue.

Thanks

[2021-12-22 08:43] siyaadguul commented on #184
<?php
require 'autoload.php';

$messageBird = new \MessageBird\Client('access_key', null, [\MessageBird\Client::ENABLE_CONVERSATIONSAPI_WHATSAPP_SANDBOX]);
$content = new MessageBirdObjectsConversationContent();
$content->text = 'Hello!';

$message = new MessageBirdObjectsConversationMessage();
$message->content = $content;
$message->to = '252615302173';
$message->type = 'text';
$message->channelI

[2021-12-22 08:44] siyaadguul commented on #184
i am trying like this
and i  want to send message to my customer usign php

[2021-12-22 08:49] CoolGoose commented on #184
Hey, you can check the examples folder for some code sample, but for starting a conversation it should be like:
We do use namespaces for the class.

[code]

[2021-12-22 09:27] siyaadguul commented on #184
- [ ] thank you sir

[2021-12-22 09:28] siyaadguul commented on #184
it's now working.
But the message get failed to send

[2021-12-22 09:39] CoolGoose commented on #184
If the SDK call didn't error out, it should get into MessageBird's system so I would recommend contacting MessageBird's support with details about channelId/ recipient so we don't expose sensitive information on public boards.

[2021-12-23 07:16] siyaadguul commented on #184
when i try to initiate new conversation i am gets error(MessageBird\Exceptions\AuthenticateException: Got error response from the server: Recipient not authorised)

[2021-12-23 08:30] CoolGoose commented on #184
@siyaadguul that is the authentication error in case you didn't send the correct `YOUR_ACCESS_KEY`.  For that purpose, I would also advise contacting MessageBird internally so we don't leak information.

[2021-12-23 08:31] CoolGoose commented on #183
@siyaadguul closing this one, and just keeping the other one since I think they're related.

[2021-12-23 08:31] #183 closed

[2021-12-23 08:35] siyaadguul commented on #184
Okey Thank you i fixed it
but the only condition that i am facing now is
when i execute and send a message it gets done
but when i tried to send with another contact it get undone and no messages reaches to the target
example of my code
require('autoload.php');

// Set your own API access key here.
// Create a client with WhatsApp sandbox enabled.
$messageBird = new \MessageBird\Client('key');

//

[2021-12-23 08:41] siyaadguul commented on #184
i want to send a message to my every customer who reaches my website or did registred in my system
example so send updates,notices,offers,bills and so on

[2021-12-23 09:12] CoolGoose commented on #184
If you don't need 2 way communication and you just want to notify your customers I'd recommend using the simpler send message functionality.

When you say you want to send from another contact,  are you doing a for/foreach for multiple contacts, or are you just calling this same endpoint a couple of times?

[code]

[2021-12-23 09:43] siyaadguul commented on #184
i want to send whatsapp messages to my customers not messages first.  and i think this code is about sms
second i and to call is contact is about 1 contact if its more than one contact or customer i have to use looping like for or while

[2021-12-23 09:46] siyaadguul commented on #184
i want to send whatsapp messages to my customers not messages first. and i think this code is about sms
second i want to call if contact is about 1 contact if its more than one contact or customer i have to use looping like for or while

[2021-12-23 13:49] siyaadguul commented on #184
I want customers whether I have spoken to them on whatsapp or not to get the message across

[2021-12-23 14:06] CoolGoose commented on #184
Understood. I'll do a test run locally also and get back to you. There's no reason why another call shouldn't work for you. Thanks

[2021-12-23 15:51] siyaadguul commented on #184
okey

[2021-12-25 07:53] siyaadguul commented on #184
hi Sir,

[2022-01-17 15:44] chris-skilltech opened #185 "Recipient Class - Extend to include additional data i.e. messagePartCount"
We're currently building an integration using this API and have become a little stuck, hoping for any advice if there is a different way forward.

After calling the create method and receiving a response the recipients are looped over an created using the loadFromArray function in base however this only populates variables that are defined on the class. The Recipient class only contains the status

[2022-01-18 22:35] csyasar opened #188 "Cannot access whatsapp contact list"
Hi,
I'm pulling whatsapp conversations using "list.php" under the conversation folder. first and last name fields returns null. I could not reach the whatsapp contact list records on the site with the API. I will be glad if you help. have a nice day.

[2022-01-19 06:46] CoolGoose commented on #185
hi @chris-skilltech , can you please checkout latest master and let me know if #186 fixes your issue?

[2022-01-19 11:24] nssnl opened #189 "Whatsapp template with URL button and variable"
I have a Whatsapp template approved which includes a variable in the body text `{{1}}` and a variable in the URL of a button: https://[fixed-url]/`{{1}}`. Both variables were required to start with index 1 to get the template approved.

The code below works with templates with just one variable, without any buttons.
When I tried to add a second parameter, I am getting an error `MessageBird\Excepti

[2022-01-19 16:11] #189 closed

[2022-02-14 10:40] chris-skilltech commented on #185
Hi @CoolGoose, that works wonderfully thank you. Apologies for the delayed response.

[2022-02-25 11:23] CoolGoose commented on #39
Closing this for now. Although we do want to improve the current situation, pulling in an external dependency is something that we might want to avoid for the time being.

[2022-02-25 11:23] #39 closed

[2022-02-28 12:06] chrisminett commented on #39
@CoolGoose While I don't necessarily agree, as dependencies are a great way to use existing solutions to common scenarios, I can appreciate keeping the package as light as possible.

Perhaps as an alternative – to support use cases which are not currently covered (like #48 and #55) – it may be good to look at making the package's own `HttpClient` properly implement the `\Psr\Http\Client\ClientInte

[2022-03-03 12:44] ruudk opened #191 "New release"
Currently latest tagged release produces deprecations on PHP 8.1.

These are fixed in [`main`](https://github.com/messagebird/php-rest-api/compare/v2.1.0...master).

Could you please tag a new release so that we can upgrade?

[2022-03-03 13:10] CoolGoose commented on #191
@ruudk yes it's on the plan for this week to release it.

[2022-03-04 07:34] CoolGoose commented on #191
@ruudk and it's tagged.

[2022-03-04 07:34] #191 closed

[2022-03-04 07:35] #21 closed

[2022-03-04 07:38] CoolGoose commented on #85
#182 should partially solve the issue. We still need to improve the typings.

[2022-06-01 11:38] niek-dev opened #195 "Interactive whatsapp message content missing in MessageBird\Objects\Conversation\Content"
Adding the property `public $interactive;` to MessageBird\Objects\Conversation\Content fixes the problem.

[2022-06-21 07:49] gronostajo opened #199 "Contact::getCustomDetails() is unusable"
The method is declared to return `array`, but tries to return `\stdClass` and crashes.

Workaround:

[code]

[2022-06-21 07:56] gronostajo opened #200 "All child accounts are replaced by the last one"
The HTTP API returns:

[code]

But PHP API:
[code]
[code]

It's the same object returned _n_ times (`$list[0] === $list[22]`).

[2022-06-21 11:05] CoolGoose commented on #199
This is now merged, thank you.

[2022-06-21 11:05] #199 closed

[2022-07-01 04:29] digitaltrustkz opened #202 "Button use in HSM"
Hello,

We couldn't find any example and code how can we add parameter to Dynamic Button URL?  Is it not possible with PHP SDK?

[2022-07-05 15:24] ultraesteban opened #203 "SSL certificate problem: certificate has expired"
Hey guys,

All of a sudden we're receiving this error (SSL certificate problem: certificate has expired) using latest release 3.1.1 on our production server who was working perfectly.
Never had this error before, maybe there's a problem on the crt bundle?
I've noticed the certificate for rest.messagebird.com expires this saturday 9th, maybe related?

Thanks!

[2022-07-05 16:53] vallerion commented on #203
Hi @ultraesteban,

It looks weird due to certificates will be valid until Sunday, 10 July 2022, 02:59:59 EEST. We scheduled certificates change on tomorrow you can subscribe for updates [here](https://status.messagebird.com/incidents/lpl1syk9t0v1).

[2022-07-07 07:58] vallerion commented on #203
Hello @ultraesteban,

we had an incident with SSL certificates which caused issue for SDK users. https://status.messagebird.com/incidents/cbf1zx7yj9wj
Also we [updated our ca-bundle](https://github.com/messagebird/php-rest-api/pull/204) at this SDK so for now everything should work fine.

[2022-07-18 10:17] #203 closed

[2022-08-02 17:15] account5235365344723 opened #206 "Conversations content is missing caption attribute"
https://developers.messagebird.com/api/conversations/#media-object

Should it have a Media equivalent?
https://github.com/messagebird/go-rest-api/blob/d432f5286c38137dbf8ccbeb2135ca486e3bae58/conversation/message.go#L138

Typehints m

    /**
     * @var string[]
     */

[2022-08-04 19:51] #206 closed, assigned to nobody

[2022-08-08 00:17] abbasjaber opened #207 "MessageBird\Objects\Lookup::getFormats(): Return value must be of type ?array, stdClass returned"
Hello, I'm trying getFormats() function, I'm using Lookup Api and Laravel 9, and I got this error
MessageBird\Objects\Lookup::getFormats(): Return value must be of type ?array, stdClass returned

[code]

[2022-10-14 05:41] krishnavala-concetto commented on #63
Class "MessageBird\HttpClient" not found

[2022-10-19 15:33] joseorono opened #208 "Operation timed out after 10001 milliseconds with 0 bytes received"
We often get a "Operation timed out" from MessageBird when requesting the available phone numbers using MessageBird's PHP SDK.

Here's the error itself:

string(66) "Operation timed out after 10001 milliseconds with 0 bytes received"

We're using really standard code, taken straight from the examples you guys provide on GitHub. I've attached a screenshot of the code we use to make the request, but